* { margin:0; padding:0; box-sizing:border-box; }

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#splash {
	background-image: url("../images/my-work.jpg");
	background-size:cover;
	background-repeat:no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=80);
	padding: 7em 0;
}
#name {
	font-size: 5em;
	color:rgb(91,89,89);
	font-family: Catamaran, sans-serif;
	text-align: center;
}
#slogan {
	font-size:2em;
	font-style:italic;
	color:rgb(247,244,244);
	text-align: center;
}

nav {
	background-color: #E8C66A
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

body {
	background-color: rgb(245,245,245);
	color:rgb(91,89,89);
	font-size:16px;
	font-style:normal;
	font-family:helvetica, arial, sans-serif;
}

#skills {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
ul {
	list-style-type: none;
	font-family: Lato, sans-serif;
}

p {
	margin-top:1em;
	font-family: Lato, sans-serif;
	font-size:1em;
	font-weight: medium;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

