* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: rgb(245,245,245);
	color:rgb(91,89,89);
	font-size:16px;
	font-style:normal;
	font-family:helvetica, arial, sans-serif;
}
section {
	padding:2em 0;
}
p {
	margin-top:1em;
}
#splash {
	background-image: url("../images/my-work.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding: 7em 0;
}
#name {
	font-size: 4em;
	color:rgb(20,30,103);
}
#slogan {
	font-size:2em;
	font-style:italic;
	color:rgb(247,244,244);
}
ul {
	list-style-type: none;
}
